:root {
--size-000: 0px;
--size-008: 8px;
--size-016: 16px;
--size-024: 24px;
--size-032: 32px;
--size-040: 40px;
--size-048: 48px;
--size-056: 56px;
--size-064: 64px;
--size-072: 72px;
--size-080: 80px;
--size-088: 88px;
--size-096: 96px;
--size-104: 104px;
--size-112: 112px;
--size-120: 120px;
--size-128: 128px;
--size-004: 4px;
--size-012: 12px;
}
