:root {
--auxiliary-title-h6-medium-14px-font: var(--title);
--auxiliary-title-h6-medium-14px-weight: var(--weight-medium);
--auxiliary-title-h6-medium-14px-size: 0.875rem;
--auxiliary-title-h6-medium-14px-line-height: 1.375rem;
--auxiliary-title-h6-medium-14px-tracking: var(--size-zero);
--caption-body-3-font: var(--body);
--caption-body-3-weight: var(--weight-medium);
--caption-body-3-size: var(--size-s);
--caption-body-3-line-height: 1.25rem;
--caption-body-3-tracking: var(--size-zero);
--caption-body-3-bold-font: var(--body);
--caption-body-3-bold-weight: var(--weight-bold);
--caption-body-3-bold-size: var(--size-s);
--caption-body-3-bold-line-height: 1.25rem;
--caption-body-3-bold-tracking: var(--size-zero);
--meta-title-h5-medium-16-px-font: var(--title);
--meta-title-h5-medium-16-px-weight: var(--weight-medium);
--meta-title-h5-medium-16-px-size: var(--size-m);
--meta-title-h5-medium-16-px-line-height: var(--size-l);
--meta-title-h5-medium-16-px-tracking: var(--size-zero);
--body-medium-font: var(--body);
--body-medium-weight: var(--weight-medium);
--body-medium-size: var(--size-m);
--body-medium-line-height: var(--size-l);
--body-medium-tracking: var(--size-zero);
--body-bold-font: var(--body);
--body-bold-weight: var(--weight-bold);
--body-bold-size: var(--size-m);
--body-bold-line-height: var(--size-l);
--body-bold-tracking: var(--size-zero);
--label-medium-font: var(--body);
--label-medium-weight: var(--weight-medium);
--label-medium-size: 0.875rem;
--label-medium-line-height: 1.375rem;
--label-medium-tracking: var(--size-zero);
--label-bold-font: var(--body);
--label-bold-weight: var(--weight-bold);
--label-bold-size: 0.875rem;
--label-bold-line-height: 1.375rem;
--label-bold-tracking: var(--size-zero);
--meta-title-h5-bold-16-px-font: var(--title);
--meta-title-h5-bold-16-px-weight: var(--weight-bold);
--meta-title-h5-bold-16-px-size: var(--size-m);
--meta-title-h5-bold-16-px-line-height: var(--size-l);
--meta-title-h5-bold-16-px-tracking: var(--size-zero);
--auxiliary-title-h6-bold-14px-font: var(--title);
--auxiliary-title-h6-bold-14px-weight: var(--weight-bold);
--auxiliary-title-h6-bold-14px-size: 0.875rem;
--auxiliary-title-h6-bold-14px-line-height: 1.375rem;
--auxiliary-title-h6-bold-14px-tracking: var(--size-zero);
--section-title-h2-medium-24px-font: var(--title);
--section-title-h2-medium-24px-weight: var(--weight-medium);
--section-title-h2-medium-24px-size: var(--size-l);
--section-title-h2-medium-24px-line-height: var(--size-xl);
--section-title-h2-medium-24px-tracking: var(--size-zero);
--subsection-title-h3-medium-20px-font: var(--title);
--subsection-title-h3-medium-20px-weight: var(--weight-medium);
--subsection-title-h3-medium-20px-size: 1.25rem;
--subsection-title-h3-medium-20px-line-height: 1.75rem;
--subsection-title-h3-medium-20px-tracking: 0rem;
--section-title-h2-bold-24px-font: var(--title);
--section-title-h2-bold-24px-weight: var(--weight-bold);
--section-title-h2-bold-24px-size: var(--size-l);
--section-title-h2-bold-24px-line-height: var(--size-xl);
--section-title-h2-bold-24px-tracking: var(--size-zero);
--subsection-title-h3-bold-20px-font: var(--title);
--subsection-title-h3-bold-20px-weight: var(--weight-bold);
--subsection-title-h3-bold-20px-size: 1.25rem;
--subsection-title-h3-bold-20px-line-height: 1.75rem;
--subsection-title-h3-bold-20px-tracking: 0rem;
--supporting-title-h4-medium-18px-font: var(--title);
--supporting-title-h4-medium-18px-weight: var(--weight-medium);
--supporting-title-h4-medium-18px-size: 1.125rem;
--supporting-title-h4-medium-18px-line-height: 1.625rem;
--supporting-title-h4-medium-18px-tracking: 0rem;
--supporting-title-h4-bold-18px-font: var(--title);
--supporting-title-h4-bold-18px-weight: var(--weight-bold);
--supporting-title-h4-bold-18px-size: 1.125rem;
--supporting-title-h4-bold-18px-line-height: 1.625rem;
--supporting-title-h4-bold-18px-tracking: 0rem;
--page-title-h1-medium-32px-font: var(--title);
--page-title-h1-medium-32px-weight: var(--weight-medium);
--page-title-h1-medium-32px-size: var(--size-xl);
--page-title-h1-medium-32px-line-height: var(--size-2xl);
--page-title-h1-medium-32px-tracking: var(--size-zero);
--page-title-h1-bold-32px-font: var(--title);
--page-title-h1-bold-32px-weight: var(--weight-bold);
--page-title-h1-bold-32px-size: var(--size-xl);
--page-title-h1-bold-32px-line-height: var(--size-2xl);
--page-title-h1-bold-32px-tracking: var(--size-zero);
}
